#botonIniciar {
    -fx-background-color: #ff6347; /* Tomate */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
    -fx-border-color: #ff4500; /* OrangeRed */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

#botonIniciar:hover {
    -fx-background-color: #ff4500; /* OrangeRed */
}
#botonIniciar:pressed{
    -fx-background-color: #cd5c5c; /* IndianRed */
}